.Qrdiv {
    width: 80%;
    background-color: rgb(178, 178, 198);
    border-radius: 15px;
    border: rgb(154, 154, 243) 2px solid;
    box-shadow: 10px 10px 10px grey;
    padding: 50px;
    text-align:left ;
    margin: auto;
    margin-top: 5%;
}
.Qrimg {
  width: 40%;
}
