.HomeDiv {
  width: 40%;
    background-color: rgb(178, 178, 198);
    border-radius: 15px;
    border: rgb(154, 154, 243) 2px solid;
    box-shadow: 10px 10px 10px grey;
    padding: 50px;
    text-align:left ;
    margin: auto;
    margin-top: 5%;
}
h4{
    color: darkblue;
}
.GridDiv{
  padding: 8px;
}
.btnDiv{
  display: flex;
  justify-content:center;

}
.Dialog{
  width:800px;
}